.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  gap: 15px;
  height: 70px;
  color: var(--text);
  background-color: var(--background20);
  border-bottom: 2px solid var(--background30);
  padding: 0 15px;
}
